<div id = "about-me">
    <h1>About</h1>
    <div id="content-box">
        
       <img class = "portrait" src="../../assets/portrait.png">
        <div id = "blurb">
            <h1>Hi, I'm Ashton</h1>
            <p>I'm a Wellington based Web Developer.<br>
                My goal is to deliver responsive web applications that stand out from the crowd with a focus on
                 low latency, intuitive interfaces and charming animations that bring your site to life.</p>

                <p>
                    I have a diverse range of skills across the front and back end including
                    Java, Python, SQL, HTML+CSS and Javascript. 
                </p>

                <p>My interests include machine learning, animation, permaculture & conservation and investing.
                   In my free time I can be found chopping in the kitchen,
                   sweating at the gym, strumming a guitar or digging in the garden🌱
                </p>
        </div>
        
        <div id = "qualifications">
            <h1>Skills</h1>
            <div id = "skills">
                <ul id="backend" >
                    <li><div class="star-style-image"></div>Java</li>
                    <li><div class="star-style-image"></div>Python</li>
                    <li><div class="star-style-image"></div>JavaScript</li>

                    <li><div class="star-style-image"></div>Flutter</li>
                </ul>
                <ul id="frontend">
                    <li><div class="star-style-image"></div>HTML</li>
                    <li><div class="star-style-image"></div>CSS</li>
                    <li><div class="star-style-image"></div>Photoshop</li>
                    <li><div class="star-style-image"></div>Krita</li>
                </ul>
            </div>
            
            <h1>Education</h1>
            <div class = "dark-text">
                <p>
                  BSc Computer Science 2019,
                  Victoria University of Wellington
                </p>
            </div>
        </div>

        <div id = 'contact-me'>
            <h1>Have a question or want to work together?<br> Drop me a line at</h1>
            <div class = "dark-text">                
                <p>AshtonASoftware@gmail.com</p>
            </div>
        </div>
        
    </div>
</div>