<div id = "about-me">
    <h1>About</h1>
    <div id="content-box">
        
       <img class = "portrait" src="../../assets/portrait.png">
        <div id = "blurb">
            <p>and I'm a Wellington based Web Developer.
                My goal is to deliver responsive web applications that stand out from the crowd with a focus on
                 low latency, seamless interfaces and charming animations that bring your site to life.
                 As you can probably guess, I have a thing for retro game art. I am fascinated with 
                 how pixel artists can convey so much with just a few pixels, where just one block 
                 out of place transforms the piece entirely. And thats my guiding philosphy in design 
                 and programming, doing a lot with a little, and not a pixel out of place. 
                </p>            

                <p>
                    I have a diverse range of skills caross both the front and back end including
                    Java, Python, HTML+CSS and Javascript. 
                </p>

                <p>My interests include machine learning, animation and conservation. When not working, you'll find me strumming a guitar
                    ,mucking about down in the garden. 
                </p>
        </div>
        
        <div id = "qualifications">
            <h1 >Skills</h1>
            <div id = "skills">
                <ul id="backend" >
                    <li><div class="star-style-image"></div>Java</li>
                    <li><div class="star-style-image"></div>Python</li>
                    <li><div class="star-style-image"></div>JavaScript</li>

                    <li><div class="star-style-image"></div>Flutter</li>
                </ul>
                <ul id="frontend">
                    <li><div class="star-style-image"></div>HTML</li>
                    <li><div class="star-style-image"></div>CSS</li>
                    <li><div class="star-style-image"></div>Photoshop</li>
                    <li><div class="star-style-image"></div>Krita</li>
                </ul>
            </div>
            
            <h1>Education</h1>
            <div id = "education">
                <p>
                  BSc Computer Science, 2019
                  <i>Victoria University of Wellington</i>
                </p>  
            </div>
        </div>

        <div id = 'contact'>
            <h1>Have a question or want to work together?<br> Drop me a line at</h1>
            <h1 id="email">AshtonASoftware@gmail.com</h1>
        </div>
        
    </div>
</div>