<div id = "about-me">
    <h1>About</h1>
    <div id="content-box">
        
       <img class = "portrait" src="../../assets/portrait.png">
        <div id = "blurb">
            <p><b>Hi</b>, I'm Ashton, a Wellington based, New Zealand native Web Developer.
            My goal is to deliver responsive web applications that stand out from the crowd.
                My focus is on building low latency, seamless interfaces and charming animations
                that bring your site to life.
            </p>            
            <p>My approach is collaborative and conversational, i want to help you realise your vision and will work to
                understand your situation to create something that reflects your unique personality. 
            </p>
            <p>When I'm not working, you'll find me strumming a guitar, digging in the garden 
                or watering my peace lily.</p>
        </div>
        
        <div id = "qualifications">
            <h1 >Skills</h1>
            <div id = "skills">
                <ul id="backend" >
                    <li><div class="star-style-image"></div>Java</li>
                    <li><div class="star-style-image"></div>Python</li>
                    <li><div class="star-style-image"></div>JavaScript</li>

                    <li><div class="star-style-image"></div>Flutter</li>
                </ul>
                <ul id="frontend">
                    <li><div class="star-style-image"></div>HTML</li>
                    <li><div class="star-style-image"></div>CSS</li>
                    <li><div class="star-style-image"></div>Photoshop</li>
                    <li><div class="star-style-image"></div>Krita</li>
                </ul>
            </div>
            
            <h1>Education</h1>
            <div id = "education">
                <p>
                  BSc Computer Science, 2019
                  <i>Victoria University of Wellington</i>
                </p>  
            </div>
        </div>

        <div id = 'contact'>
            <h1>Have a question or want to work together?<br> Drop me a line at</h1>
            <h1 id="email">AshtonASoftware@gmail.com</h1>
        </div>
        
    </div>
</div>