

<!--
<div class = "chapter" id="contact-me">
    <h1>Contact Me</h1>    
    <form id="contact-form ">
        <div style=" grid-row: 1 / span 1;" class = "small-input">
        <label for="name">Name (required)</label><br>
        <input type="text" id="name">
        </div>
        <div sty le= "grid-row: 2 / span 1;" class = "small-input">
        <label for="org">Organisation</label><br>
        <input type="text" id="org">
        </div>
        <div class = "small-input" style = " grid-row: 3 / span 1;">
        <label for="subject">Subject</label><br>
        <input type="text" id="subject">
        </div>
        <div class = "large-input" style= " grid-row: 4 / span 1;">
        <label for="content">Your Message</label><br>
        <textarea id="content" maxlength=2000></textarea>
        </div>
        <input type="submit" value="Send">
    </form>
        
    

</div>

</! -- --> 

<div class = "chapter" id="contact-me">
    <h1>Contact Me</h1>
    <form>
        <div style = "grid-row: 1 / 2;" class = "input-box">
            <label for="name">Name <i>(required)</i></label><br>
            <input type="text" id="name">
        </div>

        <div style = "grid-row: 2 / 3;" class = "input-box">
        <label for="org">Organisation</label><br>
        <input type="text" id="org">
    </div>
        <div style = "grid-row: 3 / 4;" class = "input-box">
        <label for="subject">Subject</label><br>
        <input type="text" id="subject">
    </div>
        <div style = "grid-row: 4 / 8;" class = "input-box">
            <label for="content">Your Message</label><br>
            <textarea id="content" maxlength=2000></textarea>
        </div>
    </form>
</div>