.splash{
    display: grid;
    width: 100%;
    height: 100vh; /* make splash the height fill the browser window */
    grid-template-rows: 25% 50% 25%;
    grid-template-columns: 50% 50%;
    align-items: baseline;
    justify-items: center;
}

.title{
    grid-row: 2 / span 1;
    grid-column: 1 / 2;
    justify-items: center;
    align-items: center;
    justify-self: flex-end;
    z-index: 2;
}

.title h1{
    font-family: "Righteous", "Abril Fatface", sans-serif; /* Righteous evokes atari, matching with pixel art aesthetic*/
    font-size: 10vh;
    line-height: 100%;
    color: #EEEEEE;
}


.title h2{
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 3vh;
    margin: 0 auto;
    text-align: center;    
}

#greet-animation-container{
    grid-row: 2 / span 1;
    grid-column: 2 / 3;
    z-index: -1;
    justify-self: flex-start;
    align-self: center;
}



#pixel-ash{
    align-self: center;
    bottom: 3.5vh;
    animation-duration:0.69s;
    animation-name: pixel-ash-walk;
    animation-iteration-count: infinite;
    position: relative; /*pixels position is tied to its container*/
    width: 20vh;
    height: 20vh;
    background-image: url("../../assets/pixel-ash-animation/pixel-ash-left.svg");
    transform: scaleX(-1);
    z-index: -1;
}

@keyframes pixel-ash-walk{
    0%{
        background-image: url("../../assets/pixel-ash-animation/pixel-ash-left.svg");
        transform: scaleX(-1); /*flip image to face the right*/
        left: 0px;
    }
    12.5%{
        background-image: url("../../assets/pixel-ash-animation/run-1.svg");
        left: 20px;
        transform: scaleX(-1);
    }
    25%{
        background-image: url("../../assets/pixel-ash-animation/run-2.svg");
        left: 40px;
        transform: scaleX(-1);
    }
    37.5%{
        background-image: url("../../assets/pixel-ash-animation/run-3.svg");
        left: 60px;
        transform: scaleX(-1);
    }
    50%{
        background-image: url("../../assets/pixel-ash-animation/run-1.svg");
        left: 80px;
        transform: scaleX(-1);

    }
    62.5%{
        background-image: url("../../assets/pixel-ash-animation/pixel-ash-left.svg");
        left: 100px;
        transform: scaleX(-1);
    }
    75%{
        background-image: url("../../assets/pixel-ash-animation/run-b1.svg");
        left: 120px;
        transform: scaleX(-1);
    }
    87.5%{
        background-image: url("../../assets/pixel-ash-animation/run-b2.svg");
        left: 140px;
        transform: scaleX(-1);
    }
}

@keyframes pixel-ash-jump{

}

@keyframes pixel-ash-turn{
    
}


