.splash{
    display: grid;
    width: 100%;
    height: 100vh; /* make splash the height fill the browser window */
    grid-template-rows: 25% 50% 25%;
    grid-template-columns: 55% 45%;
    align-items: baseline;
    justify-items: center;
}


#title{
    grid-row: 2 / span 1;
    grid-column: 1 / 2;
    justify-items: center;
    align-items: center;
    justify-self: flex-end;
    z-index: 2;
    animation-name: title-hidden, title-drop;
    animation-duration: 1.79s, 0.4s;
    animation-delay: 0s, 1.79s;
    position: relative;
}

#title h1{
    font-family: "Righteous", "Abril Fatface", sans-serif; /* Righteous evokes atari, matching with pixel art aesthetic*/
    font-size: 10vh;
    line-height: 100%;
    color: #EEEEEE;
}

#title h2{
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 3vh;
    margin: 0 auto;
    text-align: center;    
    animation-name: delayed-fade-in;
    animation-duration: 5s;
}

#greet-animation-container{
    grid-row: 2 / span 1;
    grid-column: 2 / 3;
    z-index: -2;
    justify-self: flex-start;
    align-self: center;
}

#pixel-ash{
    align-self: center;
    bottom: 4.3vh; /*line up bottom of pixel sprite with bottom of title text*/
    animation-duration: 0.68s, 0.5s, 0.7s, 0.21s, 0.5s, 0.4s, 0.4s, 0.4s;
    animation-delay: 0.2s, 0.79s, 1.29s, 1.99s, 2.2s,  2.7s, 3s, 3.3s;
    animation-name: pixel-ash-walk-left, pixel-ash-turn, pixel-ash-wave, pixel-ash-turn, pixel-ash-jump,
     pixel-ash-bounce-high, pixel-ash-bounce-low, pixel-ash-turn;
    position: relative; 
    width: 20vh;
    height: 20vh;
    background-image: url("../../assets/pixel-ash-animation/pixel-ash-left.svg");
    z-index: -1;
    left: 0px;
}

/*Use translate functions over top,left,bottom,right to update positions 
  for smoother animations due to triggering hardware acceleration in some browsers.
*/
@keyframes pixel-ash-bounce-low{
    0%{
        background-image: url("../../assets/pixel-ash-animation/pixel-ash-jump.svg");
    }
    9%{
        transform: translateY(-12.5px);
    }
    18%{
        transform: translateY( -22.5px);
    }
    27%{
        transform: translateY(-30px);
    }
    36%{
        transform: translateY(-35px);
    }
    45%{
        transform: translateY(-37.5px);
    }
    54%{
        transform: translateY(-37.5px);
    }
    63%{
        transform: translateY(-35px);
    }
    72%{
        transform: translateY(-30px);
    }
    81%{
        transform: translateY(-22.5px);
    }
    90%{
        transform: translateY(-12.5px);
    }
    99%{
        transform: translateY(-0px);
        background-image: url("../../assets//pixel-ash-animation/pixel-ash-jump.svg");
    }
    100%{
        background-image: url("../../assets/pixel-ash-animation/pixel-ash-front.svg");
    }
}

@keyframes pixel-ash-bounce-high{
    0%{
        background-image: url("../../assets/pixel-ash-animation/pixel-ash-jump.svg");
    }
    9%{
        transform: translateY(-25px); 
    }
    18%{
        transform: translateY(-45px);
    }
    27%{
        transform: translateY(-60px);
    }
    36%{
        transform: translateY(-70p)x
    }
    45%{
        transform: translateY(-75px);
    }
    54%{
        transform: translateY(-75px);
    }
    63%{
        transform: translateY(-70px);
    }
    72%{
        transform: translateY(-60px);
    }
    81%{
        transform: translateY(-45px);
    }
    90%{
        transform: translateY(-25px);
    }
    99%{
        transform: translateY(0px);
        background-image: url("../../assets/pixel-ash-animation/pixel-ash-jump.svg");
    }
    100%{
        background-image: url("../../assets/pixel-ash-animation/pixel-ash-left.svg");
    }
}


@keyframes pixel-ash-wave{
    0%{
        background-image: url("../../assets/pixel-ash-animation/pixel-ash-front.svg");
    }
    2%{
        background-image: url("../../assets/pixel-ash-animation/pixel-ash-wave-1.svg");
    }
    25%{
        background-image: url("../../assets/pixel-ash-animation/pixel-ash-wave-2.svg");
    }
    50%{
        background-image: url("../../assets/pixel-ash-animation/pixel-ash-wave-1.svg");
    }
    75%{ 
          background-image: url("../../assets/pixel-ash-animation/pixel-ash-wave-2.svg");
    }
    100%{
        background-image: url("../../assets/pixel-ash-animation/pixel-ash-front.svg");
    }
}

@keyframes title-drop{
    0%{
        top:-50vh;
    }
    25%{
        transform: translateY(-45vh);
    }
    50%{
        transform: translateY(-35vh);
    }
    75%{
        transform: translateY(-20vh);
    }
    100%{
       top: 0vh;
    }
}

@keyframes title-hidden{
    0%{
        top: -50vh;
    }

    100%{
        top: -50vh;
    }
}

@keyframes delayed-fade-in{
    0%{
        opacity: 0%;
    }
    80%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }

}

@keyframes pixel-ash-walk-left{
    0%{
        background-image: url("../../assets/pixel-ash-animation/pixel-ash-left.svg");
        transform: translateX(140px);        
    }
    12.5%{
        background-image: url("../../assets/pixel-ash-animation/run-1.svg");
        transform: translateX(120px);
    }
    25%{
        background-image: url("../../assets/pixel-ash-animation/run-2.svg");
        transform: translateX(100px);
    }
    37.5%{
        background-image: url("../../assets/pixel-ash-animation/run-3.svg");
        transform: translateX(80px);
    }
    50%{
        background-image: url("../../assets/pixel-ash-animation/run-1.svg");
        transform: translateX(60px);
    }
    62.5%{
        background-image: url("../../assets/pixel-ash-animation/pixel-ash-left.svg");
        transform: translateX(40px);
    }
    75%{
        background-image: url("../../assets/pixel-ash-animation/run-b1.svg");
        transform: translateX(20px);
    }
    87.5%{
        background-image: url("../../assets/pixel-ash-animation/run-b2.svg");
        transform: translateX(0px);
    }
    100%{
        background-image: url("../../assets/pixel-ash-animation//pixel-ash-front.svg");
    }
}





@keyframes pixel-ash-turn{
    0%{
        background-image: url("../../assets/pixel-ash-animation/pixel-ash-front.svg");    
    }
    100%{
        background-image: url("../../assets/pixel-ash-animation/pixel-ash-front.svg");  
    }
}


@keyframes pixel-ash-jump{
    /*decelerate on ascent, accelerate on descent*/
    0%{
        background-image: url("../../assets/pixel-ash-animation/pixel-ash-jump.svg");

    }
    9%{
        transform: translateY(-50px); /*apex of jump*/
    }
    18%{
        transform: translateY(-90px);
    }
    27%{
        transform: translateY(-120px);
    }
    36%{
        transform: translateY(-140px);
    }
    45%{
        transform: translateY(-150px);
    }
    54%{
        transform: translateY(-150px);
    }
    63%{
        transform: translateY(-140px);
    }
    72%{
        transform: translateY(-120px);
    }
    81%{
        transform: translateY(-90px);
    }
    90%{
        transform: translateY(-50px);
    }
    99%{
        transform: translateY(0px);
        background-image: url("../../assets/pixel-ash-animation/pixel-ash-jump.svg");
    }
    100%{
        transform: translateY(0px);
        background-image: url("../../assets/pixel-ash-animation/pixel-ash-left.svg");        

    }
}


@keyframes pixel-ash-walk-right{
    0%{
        background-image: url("../../assets/pixel-ash-animation/pixel-ash-right.svg");
        transform: translateX(0px);        
    }
    12.5%{
        background-image: url("../../assets/pixel-ash-animation/run-1.svg");
        transform: translateX(20px);
        transform: scaleX(-1);  /*flip run frames to face the right*/
    }
    25%{
        background-image: url("../../assets/pixel-ash-animation/run-2.svg");
        transform: translateX(40px);
        transform: scaleX(-1); 
    }
    37.5%{
        background-image: url("../../assets/pixel-ash-animation/run-3.svg");
        transform: translateX(60px);
        transform: scaleX(-1);
    }
    50%{
        background-image: url("../../assets/pixel-ash-animation/run-1.svg");
        transform: translateX(80px);
        transform: scaleX(-1);

    }
    62.5%{
        background-image: url("../../assets/pixel-ash-animation/pixel-ash-left.svg");
        transform: translateX(100px);
        transform: scaleX(-1);
    }
    75%{
        background-image: url("../../assets/pixel-ash-animation/run-b1.svg");
        transform: translateX(120px);
        transform: scaleX(-1);
    }
    87.5%{
        background-image: url("../../assets/pixel-ash-animation/run-b2.svg");
        transform: translateX(140px);
        transform: scaleX(-1);
    }
    100%{
        background-image: url("../../assets/pixel-ash-animation/pixel-ash-front.svg");
        transform: translateX(140px);
    }
}