<div class = "body-div">
    <nav>
        <button class = "nav-item" href="#top">Home</button>
        <button class = "nav-item" href="#about">About</button>       
        <button class = "nav-item" href="#projects">Projects</button>
        <button class = "nav-item" href="#resume">Resume</button>
    </nav>

    <app-splash></app-splash>

    <div>
        <div class = "chapter" id="#about"><h1>About Me</h1></div>
        <div class = "chapter" id="#projects"><h1>Projects</h1></div>
        <div class = "chapter" id="#resume"><h1>Resume</h1></div>
    </div>
</div>