<div class = "body-div">
    <nav>
        <ul class = "nav-list">
            <li><a href="#top">Home</a></li>
            <li><a href="#about-me">About</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href = "../assets/ashton-antoun-cv.pdf" download>Resume</a></li>
            <li><a href="#contact-me">Contact</a></li>
          </ul>
      </nav>
    <app-splash></app-splash>

    <div>
        <app-about-me></app-about-me>
        <div class = "chapter" id="#projects"><h1>Projects</h1></div>        
        <app-contact-me></app-contact-me>
    </div>
</div>