<div class = "body-div">
    <nav>
        <button class = "nav-item" href="#top">Home</button>
        <button class = "nav-item" href="#about">About</button>       
        <button class = "nav-item" href="#projects">Projects</button>
        <button class = "nav-item" href="#resume">Resume</button>
    </nav>

    <div> 
        <h1 id = "name-title">ASHTON ANTOUN</h1>
    </div>

    <div>
        <div id="#about"><h1>About Me</h1></div>
        <div id="#projects"><h1>Projects</h1></div>
        <div id="#resume"><h1>Resume</h1></div>
    </div>
</div>