/* You can add global styles to this file, and also import other style files */


.gradient-blue{
    background: linear-gradient(180deg, #1080F0  20% , 50%,  #033E98);
    background-size: cover;
}


.gradient-dark{
    background: linear-gradient(180deg,  #033E98 30% , 75%,  #1080F0);
    background-size: cover;
}


.tall-body{
    min-height: 300vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1{
    font-family: "Roboto", sans-serif;
    font-size: 4vh;
    text-align: center;
    color: #EEEEEE;
}

.chapter{
    height: 100vh;
    overflow-y: hidden;
}

